/devices.csv
/NetBox.log
/.idea/
/__pycache__
/*.txt
/_test*.py
*.pyc
device_lists/*.list
scanner.log
TODO.list
prefixes.csv
utilities/host_searcher.py
switches.csv
host_exceptions.list
sockets.csv
NetBox.log.*
utilities/NetBox.log
utilities/dhcpd.leases
.env
data/VMs_*.csv
